<div class="manage-component">
  <div class="row">
    <div class="col">
      <h2>Manage</h2>
    </div>
    <div class="col-1">
      <a (click)="reload()">Reload</a>
    </div>
  </div>
  <!-- <div class="row"> -->
  <!-- <div class="col"> -->
  <!-- <p-dataTable [value]="currentProcesses"> -->
  <!-- <p-column field="id" header="ID"></p-column> -->
  <!-- <p-column field="parameters.sample_name" header="Sample Name"></p-column> -->
  <!-- <p-column field="running" header="Running"></p-column> -->
  <!-- <p-column field="url" header="URL"></p-column> -->
  <!-- </p-dataTable> -->
  <!-- </div> -->
  <!-- </div> -->
  <h4>Processes:</h4>
  <pre>{{currentProcesses | async}}</pre>
</div>
