<div>
  <div *ngIf="process$ | async as process; else loadingProcess">
    <p-panel header="{{process.parameters.sample_name}}">
      <div class="row">
        <div class="col">
          <p><span class="key">Status</span>:
            <pvs-status-badge [status]="process.status" [running]="process.running"></pvs-status-badge>
          </p>
        </div>
        <div class="col">
          <p><span class="key">pVAC-Seq ID:</span> {{ process.id }}</p>
        </div>
        <div class="col">
          <p><span class="key">Process ID:</span> {{ process.pid }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p><span class="key">Command:</span> {{ process.command }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p><span class="key">Latest Log Entry:</span> {{ process.last_message }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p-tabView>
            <p-tabPanel header="Files" leftIcon="fa-files-o">
              <ul class="files">
                <li *ngFor="let file of process.files" >
                  <span style="font-weight: bold;">{{file.display_name}}</span><br/>
                  <span class="small" >{{file.description}}</span>
                </li>
              </ul>
            </p-tabPanel>
            <p-tabPanel header="Log" leftIcon="fa-tasks">
              <ul class="log">
                <li *ngFor="let line of process.log" >
                  <pre>{{line}}</pre>
                </li>
              </ul>
            </p-tabPanel>
            <p-tabPanel header="Parameters" leftIcon="fa-cog">
              <pre>{{process.parameters | json}}</pre>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </p-panel>
  </div>

  <ng-template #loadingProcess>
    Loading...
  </ng-template>
</div>
