<div>
  <div *ngIf="process$ | async as process; else loadingProcess">
    <p-panel header="{{process.parameters.sample_name}}" >
      <div class="row" >
        <div class="col" >
          <p>pVAC-Seq ID: {{ process.id }}</p>
        </div>
        <div class="col" >
          <p>Process ID: {{ process.pid }}</p>
        </div>
      </div>
      <div class="row" >
        <div class="col">
          <p>Command: {{ process.command }}</p>
        </div>
      </div>
    </p-panel>
  </div>

  <ng-template #loadingProcess>
    Loading...
  </ng-template>
</div>
