:host /deep/ {
  .ui-tabview-panel {
    border-radius: .15em;
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    background-color: #FAFAFA;
  }
  .key {
    font-weight: bold;
  }
  ul.log {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      pre {
        margin: 0;
        padding: 0;
      }
    }
  }
}
