<div class="processTable" >
  <div class="row">
    <div class="col">
      <h2 [innerHtml]="title">TABLE TITLE</h2>
    </div>
    <div class="col-2" style="text-align: right;">
      <button pButton type="button" (click)="onReload.emit()" label="Reload"></button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p-dataTable [value]="processSummaries" expandableRows="true" dataKey="id">
        <p-column expander="true" styleClass="col-icon"></p-column>
        <p-column field="id" header="ID" styleClass="col-id"></p-column>
        <p-column field="running" header="Status" styleClass="col-status">
          <ng-template let-running="rowData.running" let-status="rowData.status" pTemplate="body">
            <pvs-status-badge [running]="running" [status]="status" ></pvs-status-badge>
          </ng-template>
        </p-column>
        <p-column field="sample_name" header="Sample Name" styleClass="col-sample-name"></p-column>
        <p-column field="input_filename" header="Input" styleClass="col-input"></p-column>
        <p-column field="alleles" header="Alleles" styleClass="col-alleles"></p-column>
        <p-column field="prediction_algorithms" header="Prediction Algorithms" styleClass="col-prediction-algorithms"></p-column>
        <ng-template let-process pTemplate="rowexpansion">
          <pvs-process-detail [processId]="process.id"></pvs-process-detail>
        </ng-template>
      </p-dataTable>
    </div>
  </div>
  <!-- <div class="row" style="margin-top: 3em;"> -->
  <!-- <div class="col" > -->
  <!-- <h4>/api/v1/processes</h4> -->
  <!-- <pre style="color: #666;">{{processes|json}}</pre> -->
  <!-- </div> -->
  <!-- </div> -->
</div>
