<form (formGroup)="startForm"
      (ngSubmit)="onSubmit(startForm.value)">

  <div class="form-group row">
    <label for="vcfDropdown" class="col-sm-3 col-form-label">*Input VCF</label>
    <div class="col-sm-4">
      <p-dropdown [options]="inputs$ | async"
                  [formControl]="startForm.controls['inputVCF']"
                  styleClass="inputClass"
                  placeholder="Select Input VCF"
                  id="vcfDropdown">
      </p-dropdown>
      <small class="form-text text-danger"
             *ngIf="!startForm.controls['inputVCF'].valid&&startForm.controls['inputVCF'].dirty">
        Input VCF is required.
      </small>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>VCF Input file</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="samplename" class="col-sm-3 col-form-label">*Sample Name</label>
    <div class="col-sm-4">
      <input type="text" pInputText
             [formControl]="startForm.controls['samplename']"
             styleClass="inputClass"
             id="samplename"/>
      <small class="form-text text-danger"
             *ngIf="!startForm.controls['samplename'].valid&&startForm.controls['samplename'].dirty">
        Sample Name is required.
      </small>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Name assigned to this process</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="alleles" class="col-sm-3 col-form-label">*Alleles</label>
    <div class="col-sm-4">
      <input type="text" pInputText
             [formControl]="startForm.controls['alleles']"
             styleClass="inputClass"
             id="alleles"/>
      <small class="form-text text-danger"
             *ngIf="!startForm.controls['alleles'].valid&&startForm.controls['alleles'].dirty">
        Alleles are required.
      </small>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Comma-separated list of alleles to run the sequences against</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="prediction_algorithms" class="col-sm-3 col-form-label">*Prediction Algorithms</label>
    <div class="col-sm-4">
      <input type="text" pInputText
             [formControl]="startForm.controls['prediction_algorithms']"
             styleClass="inputClass"
             id="prediction_algoriths"/>
      <small class="form-text text-danger"
             *ngIf="!startForm.controls['prediction_algorithms'].valid&&startForm.controls['prediction_algorithms'].dirty">
        Prediction algorithms are required.
      </small>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Comma-separated list of prediction algorithms to use</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="epitope_lengths" class="col-sm-3 col-form-label">Epitope Lengths</label>
    <div class="col-sm-4">
      <input type="text" pInputText
             [formControl]="startForm.controls['epitope_lengths']"
             styleClass="inputClass"
             id="epitope_lengths"/>
      <small class="form-text text-danger"
             *ngIf="!startForm.controls['epitope_lengths'].valid&&startForm.controls['epitope_lengths'].dirty">
        Epitope lengths are required.
      </small>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Comma-separated list of epitope lengths to produce</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="peptide_sequence_length" class="col-sm-3 col-form-label">Peptide Sequence Length</label>
    <div class="col-sm-4">
      <input type="text" pInputText
             [formControl]="startForm.controls['peptide_sequence_length']"
             styleClass="inputClass"
             id="peptide_sequence_length"/>
      <small class="form-text text-danger"
             *ngIf="!startForm.controls['peptide_sequence_length'].valid&&startForm.controls['peptide_sequence_length'].dirty">
        Peptide sequence length(s) are required.
      </small>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Length of the peptide sequences to produce in the FASTA</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="geneExpnFileDropdown" class="col-sm-3 col-form-label">Gene Expression File</label>
    <div class="col-sm-4">
      <p-dropdown [options]="inputs$ | async"
                  [formControl]="startForm.controls['gene_expn_file']"
                  styleClass="inputClass"
                  placeholder="Select Gene Expression File"
                  id="geneExpnFileDropdown">
      </p-dropdown>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Gene expression file</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="transcriptExpnFileDropdown" class="col-sm-3 col-form-label">Transcript Expression File</label>
    <div class="col-sm-4">
      <p-dropdown [options]="inputs$ | async"
                  [formControl]="startForm.controls['transcript_expn_file']"
                  styleClass="inputClass"
                  placeholder="Select Transcript Expression File"
                  id="geneExpnFileDropdown">
      </p-dropdown>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Transcript expression file</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="normalSnvsCoverageFileDropdown" class="col-sm-3 col-form-label">Normal SNVs Coverage File</label>
    <div class="col-sm-4">
      <p-dropdown [options]="inputs$ | async"
                  [formControl]="startForm.controls['normal_snvs_coverage_file']"
                  styleClass="inputClass"
                  placeholder="Select Normal SVNs Coverage File"
                  id="normalSnvsCoverageFileDropdown">
      </p-dropdown>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Normal SNVs coverage file</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="normalIndelsCoverageFileDropdown" class="col-sm-3 col-form-label">Normal Indels Coverage File</label>
    <div class="col-sm-4">
      <p-dropdown [options]="inputs$ | async"
                  [formControl]="startForm.controls['normal_indels_coverage_file']"
                  styleClass="inputClass"
                  placeholder="Select Normal Indels Coverage File"
                  id="normalIndelsCoverageFileDropdown">
      </p-dropdown>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Normal Indels coverage file</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="tumorDnaSnvsCoverageFile" class="col-sm-3 col-form-label">Tumor DNA SNVs Coverage File</label>
    <div class="col-sm-4">
      <p-dropdown [options]="inputs$ | async"
                  [formControl]="startForm.controls['tdna_snvs_coverage_file']"
                  styleClass="inputClass"
                  placeholder="Select Tumor DNA SNVs Coverage File"
                  id="tumorDnaSnvsCoverageFileDropdown">
      </p-dropdown>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Tumor DNA SNVs coverage file</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="tumorIndelsCoverageFileDropdown" class="col-sm-3 col-form-label">Tumor DNA Indels Coverage File</label>
    <div class="col-sm-4">
      <p-dropdown [options]="inputs$ | async"
                  [formControl]="startForm.controls['tdna_indels_coverage_file']"
                  styleClass="inputClass"
                  placeholder="Select Tumor Indels Coverage File"
                  id="tumorIndelsCoverageFileDropdown">
      </p-dropdown>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Tumor DNA Indels coverage file</p>
    </div>
  </div>

 <div class="form-group row">
    <label for="tumorRnaSnvsCoverageFile" class="col-sm-3 col-form-label">Tumor RNA SNVs Coverage File</label>
    <div class="col-sm-4">
      <p-dropdown [options]="inputs$ | async"
                  [formControl]="startForm.controls['trna_snvs_coverage_file']"
                  styleClass="inputClass"
                  placeholder="Select Tumor RNA SNVs Coverage File"
                  id="tumorRnaSnvsCoverageFileDropdown">
      </p-dropdown>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Tumor RNA SNVs coverage file</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="tumorIndelsCoverageFileDropdown" class="col-sm-3 col-form-label">Tumor RNA Indels Coverage File</label>
    <div class="col-sm-4">
      <p-dropdown [options]="inputs$ | async"
                  [formControl]="startForm.controls['trna_indels_coverage_file']"
                  styleClass="inputClass"
                  placeholder="Select Tumor Indels Coverage File"
                  id="tumorIndelsCoverageFileDropdown">
      </p-dropdown>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Tumor RNA Indels coverage file</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="netChopMethodDropdown" class="col-sm-3 col-form-label">NetChop Method</label>
    <div class="col-sm-4">
      <p-dropdown [options]="netChopMethodOptions"
                  [formControl]="startForm.controls['net_chop_method']"
                  styleClass="inputClass"
                  placeholder="Skip NetChop"
                  id="netChopMethodDropdown">
      </p-dropdown>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>NetChop will be run if method specified here.</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="netChopThresholdSpinner" class="col-sm-3 col-form-label">NetChop Threshold</label>
    <div class="col-sm-4">
      <p-spinner [formControl]="startForm.controls['net_chop_threshold']"
                 [step]="0.5"
                 styleClass="inputClass"
                 id="netChopSpinnerThreshold">
      </p-spinner>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>NetChop prediction threshold</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="netMhcStabCheckbox" class="col-sm-3 col-form-label">NetMHC Stab</label>
    <div class="col-sm-4">
      <p-checkbox [formControl]="startForm.controls['netmhc_stab']"
                  binary="true"
                  id="netMhcStabCheckbox">
      </p-checkbox>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Run NetMHCStabPan at the end of the pipeline</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="topResultPerMutationCheckbox" class="col-sm-3 col-form-label">Top Result Per Mutation</label>
    <div class="col-sm-4">
      <p-checkbox [formControl]="startForm.controls['top_result_per_mutation']"
                  binary="true"
                  id="topResultPerMutationCheckbox">
      </p-checkbox>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Output top scoring candidate per allele-length per mutation</p>
    </div>
  </div>

  <div class="form-group row">
    <label for="topScoreMetricDropdown" class="col-sm-3 col-form-label">Top Score Metric</label>
    <div class="col-sm-4">
      <p-dropdown [options]="topScoreMetricOptions"
                  [formControl]="startForm.controls['top_score_metric']"
                  styleClass="inputClass"
                  placeholder="Select Top Score Metric"
                  id="topScoreMetricDropdown">
      </p-dropdown>
    </div>
    <div class="col-sm-5 col-form-help">
      <p>Metric for choosing best epitopes during binding filtering</p>
    </div>
  </div>

  <div class="row" >
    <div class="col-sm-4 offset-sm-3 text-right">
      <button pButton type="submit"
              label="Launch Process"
              [disabled]="!startForm.valid"></button>
    </div>
  </div>

  <div class="row">
    <div class="col" >
      <h2>Form startForm.value</h2>
      <pre>{{startForm.value|json}}</pre>
    </div>
  </div>
</form>
