:host /deep/ {
  .col-form-label {
    text-align: right;
  }
  .ui-inputtext, .ui-dropdown, .ui-spinner {
    width: 100% !important;
  }
  .form-button-row {
    border-top: 2px solid #CCC;
    padding-top: 1em;
    padding-bottom: 2em;
  }
}
