:host /deep/ {
  .col-form-label {
    text-align: right;
  }
  .ui-inputtext, .ui-dropdown, .ui-spinner {
    width: 100% !important;
  }
  .form-buttons {
    padding-bottom: 2em;
    padding-top: 1em;
    border-top: 1px solid #AAA;
  }
}
